@{ 
    @Html.Partial("_AdminNavBar")
}
<h2>Deparment Details</h2>

<a class="btn btn-outline-dark btn-sm" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddDepartment","Admin")')"><i class="fa fa-plus"></i>Add New</a>
<table id="deptTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Department_Name</th>
            <th>Telephone_Num</th>
            <th>Telephone_Num</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
@section scripts{
<script src="~/Scripts/Staff_JS/Admin_JS.js"></script>
    }